setuptools>=65.0.0
wheel>=0.38.0
pip>=23.0.0

# Bibliotecas base
numpy
Pillow
requests
flask
flask-socketio
gunicorn
eventlet

# Machine Learning - versões pré-compiladas
opencv-python-headless
dlib-binary
face-recognition-models

# Outras dependências
cmake
pyserial 